*{
    font-family: "Lexend";
}
body{
    background-color: #18122B;
}
.principal{
    padding: 0px;
}
.navbar{
    opacity: 0.9;
    background-color: #18122B;
}
.prueba{
    outline: 3px solid green;
}
.navbar img{
    height: 25px;
}
.navbar form{
    padding-top: 10px;
}
.navbar-dropdown {
    max-height: none;
    overflow: visible;
}

/* Acerca de nosotros */

.help{
    padding: 40px 40px 60px 40px;
    color: #FFFFFF;
    font-size: 18px;
}
.icono{
    width: 80px;
    color: #E876BB;
    margin-top: 25px;
}
.help-title{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.title{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 5%;
}
.seccion{
    margin-top: 5%;
}
.subrayado{
    background-color: #84F4FF;
    color: #18122B;
}
textarea{
    height: 200px;
}
@media screen and (max-width: 993px){
    .title{
        font-size: 60px;
    }
}
@media screen and (max-width: 769px){
    .title{
        font-size: 40px;
    }
}