*{
    font-family: "Lexend";
}
.principal{
    padding: 0px;
}
.navbar{
    background-color: #18122B;
}
.prueba{
    outline: 3px solid green;
}
.navbar img{
    height: 70px;
}
body{
    background-color: #18122B;
}
.container{
    background-color: #FFFFFF;
    width: 40rem;
    /* height: 82%; */
    border-radius: 10px;
}
.h1{
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight:600;
}
.form-check{
    padding-top: 25px;
    width: 80%;
    padding-left: 10%;
}
.form-floating{
    width: 90%;
    margin-left: 5%;
}
.bIcon{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
}

.cIcon{
    padding-top: 25px;
}

.registro{
    padding-top: 40px;
    padding-bottom: 40px;
}

a{
    text-decoration: none;
    color: #18122B;
    font-weight: bold;
}

svg{
    height: 50px;
}

@media screen and (max-width: 575px){
    .navbar img{
        height: 25px;
    }
    .container{
        width: 90%;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 437px){
    .bIcon{
        height: 80px;
        width: 80px;
        margin-right: 20px;
    }

    svg{
        height: 35px;
    }
}
@media screen and (max-width: 404px){
    .bIcon{
        height: 60px;
        width: 60px;
        margin-left: 5px;
        margin-right: 5px;
    }

}