*{
    font-family: "Lexend";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #18122B;
}
.principal{
    padding: 0px;
    width: 100%;
}
.navbar{
    opacity: 0.9;
    background-color: #18122B;
}
.prueba{
    outline: 3px solid green;
}
.navbar img{
    height: 25px;
}
.navbar form{
    padding-top: 10px;
}
.navbar-dropdown {
    max-height: none;
    overflow: visible;
}
.leng{
    margin-left: 3%;
}
.rango{
    width: 94%;
    margin-left: 3%;
}
.rango2{
    width: 94%;
    margin-left: 3%;
    margin-top: 2%;
}
.setting{
    width: 400%
}
.title-set{
    margin-left: 3%;
}

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.card-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 380px;
}

.card{
    border: 0;
    padding: 30px;
}

.card img {
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}

@media screen and (max-width: 767px){
    .setting{
        width: 100%
    }
    .card-container{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 380px;
    }
}