*{
    font-family: "Lexend";
}
body{
    background-color: #18122B;
}
.principal{
    padding: 0px;
}
.navbar{
    opacity: 0.9;
    background-color: #18122B;
}
.prueba{
    outline: 3px solid green;
}
.navbar img{
    height: 25px;
}
.navbar form{
    padding-top: 10px;
}
.navbar-dropdown {
    max-height: none;
    overflow: visible;
}