*{
    font-family: sans-serif;
}
body{
    background-color: #393646;
}
section.grid-container-menu{
    display:grid;
    grid-template-columns: 7.5% 77.5% 7.5% 7.5%;
}
section.grid-container-seccion{
    display:grid;
    grid-template-columns: 7.5% 77.5% 7.5% 7.5%;
    border: 1px solid red;
}
article.celdaGrid {
    text-align: center;
}
article.celdaGrid-seccion{

}
i{
    color: #6f6988;
    position: fixed;
    top:30px;
}
ul.menuDesplegable{
    display:none;
    margin: 10px;
}
.celdaGrid:hover > #menuIcon{
    color: #FFD369;
}
.celdaGrid:hover > #perfilIcon{
    color: #FFD369;
}
.celdaGrid:hover > a >#mentoriaIcon{
    color: #FFD369;
}
.celdaGrid:hover .menuDesplegable{
    display:block;
    position: fixed;
    top:40px;
    background-color: #4F4557;
    width: 200px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px ;
    text-align: start;
}
.menuDesplegable > li{
    padding-top: 15px;
    padding-bottom: 15px;
}
.menuDesplegable > li > a:hover{
    color:#FFD369;
    font-weight: bold;
}
.menuDesplegable > li > a{
    text-decoration: none;
    color: #F4EEE0;
}
ul.perfilDesplegable{
    display:none;
    margin-top: 10px;
    position: fixed;
    right: 10px;
}
.celdaGrid:hover .perfilDesplegable{
    display:block;
    position: fixed;
    top:40px;
    background-color: #4F4557;
    width: 200px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px ;
    text-align: start;
}
.perfilDesplegable > li > a:hover{
    color:#FFD369;
    font-weight: bold;
}
.perfilDesplegable > li{
    padding-top: 15px;
    padding-bottom: 15px;
}
#logo{
    text-decoration: none;
    color: #FFD369;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}
#logo:hover{
    color: #6f6988;
}
ul.perfilDesplegable > li > a{
    text-decoration: none;
    color: #F4EEE0;
}
a{
    text-decoration: none;
    color: white;
}
form{
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
input{
    border-radius: 35px;
    border: 1px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
}



.articulo1{
    /*border: 1px solid black;*/
    margin: auto;
    width: 96.5%;
    background-color: #4F4557;
    border-radius: 4px;
    color: #FFD369;
    padding-left: 20px;
    height: 580px;
}
.articulo1 h1{
    font-size: 80px;
}
.articulo1 h2{
    padding-top: 20px;
    font-size: 54px;
    font-weight: normal;
    padding-bottom: 20px;
}
.articulo1 h3{
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 30px;
}
.button{
    font-size: 36px;
    border-radius:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 120px;
    padding-left: 120px;
    margin-left: 240px;
    background-color: #F4EEE0;
    color: #4F4557;
}
.button:hover{
    background-color: #393646;
    color: #FFD369;
}
.articulo1 img{
    width: 650px;
    border-radius:4px;
    float: right;
    margin-right: 60px;
}