*{
    font-family: sans-serif;
}
body{
    background-color: #393646;
}
section.grid-container-menu{
    display:grid;
    grid-template-columns: 7.5% 77.5% 7.5% 7.5%;
}
section.grid-container-seccion{
    display:grid;
    grid-template-columns: 7.5% 77.5% 7.5% 7.5%;
    border: 1px solid red;
}
article.celdaGrid {
    text-align: center;
}
article.celdaGrid-seccion{

}
i{
    color: #6f6988;
    position: fixed;
    top:30px;
}
ul.menuDesplegable{
    display:none;
    margin: 10px;
}
.celdaGrid:hover > #menuIcon{
    color: #FFD369;
}
.celdaGrid:hover > #perfilIcon{
    color: #FFD369;
}
.celdaGrid:hover > a >#mentoriaIcon{
    color: #FFD369;
}
.celdaGrid:hover .menuDesplegable{
    display:block;
    position: fixed;
    top:40px;
    background-color: #4F4557;
    width: 200px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px ;
    text-align: start;
}
.menuDesplegable > li{
    padding-top: 15px;
    padding-bottom: 15px;
}
.menuDesplegable > li > a:hover{
    color:#FFD369;
    font-weight: bold;
}
.menuDesplegable > li > a{
    text-decoration: none;
    color: #F4EEE0;
}
ul.perfilDesplegable{
    display:none;
    margin-top: 10px;
    position: fixed;
    right: 10px;
}
.celdaGrid:hover .perfilDesplegable{
    display:block;
    position: fixed;
    top:40px;
    background-color: #4F4557;
    width: 200px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px ;
    text-align: start;
}
.perfilDesplegable > li > a:hover{
    color:#FFD369;
    font-weight: bold;
}
.perfilDesplegable > li{
    padding-top: 15px;
    padding-bottom: 15px;
}
#logo{
    text-decoration: none;
    color: #FFD369;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}
#logo:hover{
    color: #6f6988;
}
ul.perfilDesplegable > li > a{
    text-decoration: none;
    color: #F4EEE0;
}